.featured-products-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  // gap: var(--space-1);
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;

  &__head {
    position: relative;
    border-radius: var(--radius-small);
    background: linear-gradient(
      181deg,
      rgba(235, 228, 223, 0.4196078431) 0%,
      rgba(235, 228, 223, 0.4196078431) 40%,
      rgba(243, 241, 236, 0.0784313725) 100%
    );
  }
  &__image {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    width: 100%;

    & img {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      object-fit: contain;
      padding: var(--space-1);
    }
  }
}

.card {
  border-radius: 0.5rem;

  &__tag {
    --chip-bg: var(--main-color);
    --chip-padding: var(--space-05) var(--space-1);
    --chip-text-size: var(--ts-tiny);
  }

  &__description {
    color: var(--c-grey);
  }

  &__price {
    display: flex;
    flex-direction: column;
    color: #4a3f3a;

    &--sale {
      // font-size: var(--ts-body-large);
      color: #d4556b;
    }
    &--regular {
      text-decoration: line-through;
      color: #8a7c75;
      font-size: var(--ts-label);
    }
  }

  &__sale-badge {
    // position: absolute;
    // top: 0;
    // left: 0;
    padding: var(--space-05);
    background-color: #d4556b;
    color: var(--c-warm-white);
    border-radius: var(--radius-pill);
    font-size: var(--ts-micro);
    width: fit-content;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-weight: medium;
    white-space: nowrap;
  }
}

.card > :last-child {
  margin-bottom: 0;
}

.card .title {
  font-weight: 500;
  color: var(--text-color);
}

.card::hover .card__body {
  color: var(--c-popping-orange);
}

.card__body {
  // font-size: var(--ts-tiny);
  margin-top: var(--space-1);
}

// Overlay gradient
.card-overlay::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%; /* Adjust this to control how much of the bottom */
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8), transparent);
  z-index: 2;
  border-radius: inherit;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .card-overlay::after {
  opacity: 0;
}

/* ==========================
  CARD REVEAL ANIMATION
  ============================= */
.card[data-waiting] {
  transition:
    opacity 0.5s calc(0.15s + (0.1s * var(--card-index, 0))) ease-out,
    transform 0.45s calc(0.1s + (0.1s * var(--card-index, 0))) cubic-bezier(0.39, 0.57, 0.56, 1);
}

.card[data-waiting='true'] {
  opacity: 0;
  transform: translate3d(0, 0.75rem, 0);
}
