.featured-products-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  // gap: var(--space-1);
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  padding: var(--space-1);
  position: relative;
  backdrop-filter: blur(10px);
  background: linear-gradient(160deg, #f1ebe6 0%, #ebe4df 40%, #f3f1ec 100%);
  // overflow: hidden;

  &__tag {
    --chip-bg: var(--main-color);
    --chip-padding: var(--space-05) var(--space-1);
    --chip-text-size: var(--ts-tiny);
  }

  &__description {
    color: var(--c-grey);
  }

  &__price {
    display: flex;
    flex-direction: column;
    color: #4a3f3a;

    &--sale {
      font-size: var(--ts-body-large);
      color: #d4556b;
    }
    &--regular {
      text-decoration: line-through;
      color: #8a7c75;
    }
  }

  &__sale-badge {
    // position: absolute;
    // top: 0;
    // left: 0;
    padding: var(--space-05);
    background-color: #d4556b;
    color: var(--c-warm-white);
    border-radius: var(--radius-pill);
    font-size: var(--ts-micro);
    width: fit-content;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-weight: medium;
  }
}

.card--spread-image {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  // &:hover {
  //   transform: scale(1.05);
  //   transition: transform 0.3s ease-in-out;
  // }

  & .title {
    font-weight: 700 !important;
  }
}

.card > :last-child {
  margin-bottom: 0;
}

.card .title {
  font-weight: 500;
  color: var(--text-color);
}

.card::hover .card__body {
  color: var(--c-popping-orange);
}

// Full image card
// .card img {
//   display: block;
//   height: 100%;
//   left: 0;
//   top: 0;
//   object-fit: cover;
//   object-position: 50% 50%;
//   position: absolute;
//   width: 100% !important;
//   z-index: -1;
// }

.card__body {
  font-size: var(--ts-tiny);
  margin-top: var(--space-1);
}

// Overlay gradient
.card-overlay::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  border-radius: inherit;
  transition: background-color 0.3s ease-in-out;
}

.card:hover .title {
  color: var(--c-main-color);
}
.card:hover .card-overlay::after {
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ) !important; /* Use !important for now to ensure it overrides */
}

.card:hover .card__content,
.card:hover .card__content .title {
  color: var(--c-main-color);
}

/* ==========================
  CARD REVEAL ANIMATION
  ============================= */
.card[data-waiting] {
  transition:
    opacity 0.5s calc(0.15s + (0.1s * var(--card-index, 0))) ease-out,
    transform 0.45s calc(0.1s + (0.1s * var(--card-index, 0))) cubic-bezier(0.39, 0.57, 0.56, 1);
}

.card[data-waiting='true'] {
  opacity: 0;
  transform: translate3d(0, 0.75rem, 0);
}

// Project card
.project-card {
  min-height: 12rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000000 100%);
  }
}

//Flower card
.flower-card {
  --inset-border-space: var(--space-1);
  padding: var(--space-2);
  min-height: 25rem;
  max-width: 12rem;
  border-radius: 95.2380952381px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: padding 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

  & .cta {
    position: absolute;
    bottom: var(--space-4);
    opacity: 0;
    transform: translateY(8px);
    transition:
      opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.55s,
      transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.55s;
    transition-delay: 0s;
    background: #c0797f;
    color: white;

    &:hover {
      background: #a6656b;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: var(--inset-border-space);
    left: var(--inset-border-space);
    right: var(--inset-border-space);
    bottom: var(--inset-border-space);
    border: 2px solid var(--bg-color);
    border-radius: 85px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, var(--bg-color) 100%);
    transition: opacity 0.3s ease 0.15s;
  }

  &:hover {
    padding: 0;

    &::after {
      opacity: 0;
      z-index: -1;
    }
    &::before {
      opacity: 1;
    }
    & .cta {
      opacity: 1;
      transform: none;
      transition-delay: 0.55s;
    }
  }
}

.flower-card .card__image {
  max-width: 100%;
  max-height: 100%;
}
