.footer {
  border-radius: var(--radius-default) 0;

  & h2 {
    color: var(--bg-color);
    font-family: var(--font-headline);
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-2);
    height: 10rem;
  }
}

.footer .footer__bottom {
  display: flex;
  justify-content: space-between;
}
