@import 'assets/scss/utilities/mixin';

.masthead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh);
  overflow: hidden;
  position: relative;
  width: 100%;

  // Height
  &--small {
    min-height: 50vh;
  }

  &--medium {
    min-height: 70vh;
  }

  &--large {
    min-height: 100vh;
  }

  @include breakpoint(lg, max) {
    &--small {
      min-height: 40vh;
    }

    &--medium {
      min-height: 60vh;
    }

    &--large {
      min-height: 80vh;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    text-align: center;

    & h1 {
      color: var(--text-color);
    }
  }

  // Alignment
  &--align-left {
    .masthead__content {
      justify-content: flex-start;
      text-align: left;
    }
  }

  &--align-center {
    .masthead__content {
      justify-content: center;
      text-align: center;
    }
  }

  &--align-right {
    .masthead__content {
      justify-content: flex-end;
      text-align: right;
    }
  }

  @include breakpoint(md, max) {
    &--align-left,
    &--align-right {
      .masthead__content {
        justify-content: center;
      }
    }
  }

  // Video background
  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &:has(.masthead__video) {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.9;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, var(--bg-color) 100%);
      z-index: 2;

      @include breakpoint(lg, max) {
        display: none;
      }
    }

    * {
      color: white !important;
    }
  }

  .container {
    position: relative;
    z-index: 3;
  }
}
